<!doctype html>
<html>
  <head>
    <title>node-passport-social-auth</title>
    <%include ./head.ejs%>
  </head>
  <body>
    <div class="container">
      <span style="font-size:100px;"><%=code%></span>
      <h4><%=title%></h4>
      <i><h6><%=message%></h6></i>
      <i><h6><%=stack%></h6></i>
    </div>
  </body>
</html>
