<!doctype html>
<html>
  <head>
    <title>node-passport-social-auth</title>
    <%include ./head.ejs%>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to the node-passport-social-auth template application</h4>
      <p>Please login</p>
      <hr>
      <a href="/auth/facebook" class="btn btn-default">Facebook</a>
      <a href="/auth/github" class="btn btn-default">Github</a>
      <a href="/auth/google" class="btn btn-default">Google</a>
      <a href="/auth/linkedin" class="btn btn-default">LinkedIn</a>
      <a href="/auth/twitter" class="btn btn-default">Twitter</a>
    </div>
  </body>
</html>
